img {
    width: 100%;
    height: auto;
}

.imagen_difuminada {
    filter: blur(10px);
}

/* Estilo del contenedor div */
div {
    text-align: center;
}

/* Estilo de la clase botón (el enlace) */
.boton {
    padding: 10px 20px;
    background-color: #4CAF50;
    /* Verde */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-size: 16px;
    animation: oscilar 2s ease-in-out infinite;
    /* Llama a la animación */
}

.boton:hover {
    background-color: #45a049;
    /* Verde más oscuro al pasar el ratón por encima*/
}

/* Definir la animación del botón*/
@keyframes oscilar {
    0% {
        transform: translateX(0);
        /* Empieza en su posición original */
    }

    50% {
        transform: translateX(10px);
        /* Mueve 10px hacia la derecha */
    }

    100% {
        transform: translateX(0);
        /* Vuelve a la posición original */
    }
}